body{
  background-color: lightgray;
}

#cat{
  color: lightblue;
}
#dog{
  color: red;
}
img{
  display: none;
  max-width: 200px;
  max-height: 200px;
  float: right;
}

#column1{
  background-color: black;
  color: white;
  border-style: groove;
  padding-bottom: 50px;

}
#column2{
  background-color: black;
  color: white;
  border-style: groove;
  padding-bottom: 50px;
}
